/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: grey; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-list {
  width: 100%;
}

mat-list-item {
  color: black;
}
mat-spinner {
  position: absolute !important;
  display: inline-block !important;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
}

